<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Network"            
            icon="resources/icons/network.gif"
            category="de.rcenvironment.core"
            class="de.rcenvironment.core.gui.communication.views.NetworkView"
            id="de.rcenvironment.core.gui.communication.views.NetworkView">
      </view>
   </extension>

   <!-- Log view part of Default Perspective -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="de.rcenvironment.core">
         <view id="de.rcenvironment.core.gui.communication.views.NetworkView"
            relationship="stack"
            relative="de.rcenvironment.core.Perspective.bottom">
         </view>
      </perspectiveExtension>
   </extension>
   
   <!-- Early startup extension point -->
   <extension
         point="org.eclipse.ui.startup">
         <startup class="de.rcenvironment.core.gui.communication.internal.NetworkConnectionListenerImpl"/>
   </extension>

</plugin>
