<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="local_build" sequenceNumber="27">
<locations>
<location path="${project_loc:de.rcenvironment.repositories.platform}/target/repository/" type="Profile"/>
</locations>
<includeBundles>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.search"/>
<plugin id="de.rcenvironment.libraries.custom.database"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="de.rcenvironment.libraries.custom.testing"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="de.rcenvironment.libraries.custom.xml"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="de.rcenvironment.libraries.custom.gui"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.update.core.win32"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.ops4j.pax.logging.pax-logging-service"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.ui.presentations.r21"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.codehaus.jackson.core"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.ops4j.pax.configmanager"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.ui.workbench.compatibility"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.core.net.win32.x86_64"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="de.rcenvironment.libraries.custom.webservice"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.sat4j.core"/>
<plugin id="de.rcenvironment.libraries.custom.transitional"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.codehaus.jackson.mapper"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.equinox.p2.metadata.generator"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.codehaus.jackson.xc"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.gef"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.compare.win32"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.jface"/>
<plugin id="de.rcenvironment.libraries.custom.auth"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="com.ibm.icu"/>
<plugin id="javax.mail.glassfish"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.ops4j.pax.logging.pax-logging-api"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.p2.ql"/>
</includeBundles>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
</environment>
</target>
