<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="trunk_snapshot_platform_repo.all" sequenceNumber="56">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.rcenvironment.thirdparty.nu.psnet.quickimage.feature.feature.group" version="6.0.0.0201412051604_SNAPSHOT"/>
<unit id="de.rcenvironment.platform.combined.feature.feature.group" version="6.0.0.0201412051604_SNAPSHOT"/>
<repository location="http://software.dlr.de/updates/rce/6.x/repositories/platform/snapshots/trunk"/>
</location>
</locations>
</target>
