<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
         	   tab="workflow.editor.tab.outputwriter.Inputs"
               class="de.rcenvironment.components.outputwriter.gui.OutputWriterPropertiesSection"
               id="workflow.editor.tab.Properties.Section.Inputs"
               filter="de.rcenvironment.components.outputwriter.gui.OutputWriterComponentFilter"
               enablesFor="1">
         </propertySection>
  	</propertySections>
  </extension>
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               label="%inputTabTitle"
               category="default"
               id="workflow.editor.tab.outputwriter.Inputs">
         </propertyTab>
      </propertyTabs>
  </extension>
     <extension
         point="de.rcenvironment.core.gui.workflow.nodeValidators">
      <validator
            class="de.rcenvironment.components.outputwriter.gui.OutputWriterComponentWorkflowNodeValidator"
            filter="de.rcenvironment.components.outputwriter.gui.OutputWriterComponentFilter">
      </validator>
   </extension>
       <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="help/contexts.xml" plugin="de.rcenvironment" />
   </extension>
   
   <extension point="org.eclipse.help.toc">
   		<toc file="help/toc.xml"/>
 	</extension>
   
   <extension point="de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder">
      <builder class="de.rcenvironment.components.outputwriter.gui.OutputWriterHistoryDataItemSubtreeBuilder"/>
   </extension>
   
</plugin>
