target/
.settings/
.svn/
sys$command
/.sonar/
*/help/generated/
/de.rcenvironment.platform/projects/**/lib/maven/*.jar
/de.rcenvironment/eclipse/launch/profiles/common/
/de.rcenvironment/eclipse/launch/profiles/*/internal/
/de.rcenvironment/eclipse/launch/profiles/*/integration/
/de.rcenvironment/eclipse/launch/profiles/*/storage/
/de.rcenvironment/eclipse/launch/profiles/*/output/
/de.rcenvironment/eclipse/launch/profiles/*/workspace/
/de.rcenvironment/eclipse/launch/profiles/*/*.log
/de.rcenvironment/eclipse/launch/profiles/*/*.lock
/de.rcenvironment.core.gui.help.*/doc.zip
# temporary fix for generated folders; see Mantis #11136
/de.rcenvironment/maven/initial/workspace
/de.rcenvironment/workspace
# TODO check: still needed?
/de.rcenvironment.core.scripting.tests/cachedir
