target/
.settings/
.svn/
sys$command
/de.rcenvironment/eclipse/launch/profiles/*/internal/
/de.rcenvironment/eclipse/launch/profiles/*/integration/
/de.rcenvironment/eclipse/launch/profiles/*/storage/
/de.rcenvironment/eclipse/launch/profiles/*/output/
/de.rcenvironment/eclipse/launch/profiles/*/workspace/
/de.rcenvironment/eclipse/launch/profiles/*/*.log
/de.rcenvironment/eclipse/launch/profiles/*/*.lock
# temporary fix for generated folder; see Mantis #11136
/de.rcenvironment/maven/initial/workspace
# TODO check: these may be obsolete as they are located in <profile>/storage now 
derby.log
/de.rcenvironment.core.scripting.tests/cachedir
