<contexts>
	<context id="integration_componentDescription" title="Component Description Page">
		<description>Configuration page for description parameters of the component to be integrated.</description>
		<topic href="help/generated/html/componentDescriptionPage.xhtml" label="Component Description Page Usage"/>
	</context>
	<context id="integration_workflowEditor" title="Workflow Editor Page">
		<description>Overview of the workflow to be integrated as a component. This view has limited editing options.</description>
		<topic href="help/generated/html/workflowEditorPage.xhtml" label="Workflow Editor Page Usage"/>
	</context>
	<context id="integration_mapping" title="Mapping Page">
		<description>Configuration page to map inputs and outputs of the workflow to inputs and outputs of the component to be integrated.</description>
		<topic href="help/generated/html/mappingPage.xhtml" label="Mapping Page Usage"/>
	</context>
</contexts>