<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->
      <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
               tab="workflow.editor.tab.cluster.Host"
               class="de.rcenvironment.components.cluster.gui.properties.ClusterHostSection"
               id="workflow.editor.tab.Properties.Section.Host"
               filter="de.rcenvironment.components.cluster.gui.properties.ClusterComponentFilter"
               enablesFor="1">
         </propertySection>
         
         <propertySection
               tab="workflow.editor.tab.cluster.InputsOutputs"
               class="de.rcenvironment.components.cluster.gui.properties.ClusterComponentEndpointSection"
               id="workflow.editor.tab.Properties.Section.InputsOutputs"
               filter="de.rcenvironment.components.cluster.gui.properties.ClusterComponentFilter"
               enablesFor="1">
         </propertySection>

         <propertySection
               tab="workflow.editor.tab.cluster.Script"
               class="de.rcenvironment.components.cluster.gui.properties.ScriptSection"
               id="workflow.editor.tab.Properties.Section.Script"
               filter="de.rcenvironment.components.cluster.gui.properties.ClusterComponentFilter"
               enablesFor="1">
         </propertySection>
         
      </propertySections>
   </extension>
   
   <!-- Register Property Sections -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
                  
		 <propertyTab
               label="%cluster"
               category="default"
               id="workflow.editor.tab.cluster.Host">
         </propertyTab>
         
         <propertyTab
               label="%inputsoutputs"
               category="default"
               afterTab="workflow.editor.tab.cluster.Host"
               id="workflow.editor.tab.cluster.InputsOutputs">
         </propertyTab>
         
         <propertyTab
               label="%upload"
               category="default"
               afterTab="workflow.editor.tab.cluster.InputsOutputs"
               id="workflow.editor.tab.cluster.Upload">
         </propertyTab>
         
         <propertyTab
               label="%job"
               category="default"
               afterTab="workflow.editor.tab.cluster.Upload"
               id="workflow.editor.tab.cluster.Script">
         </propertyTab>
         
         <propertyTab
               label="%download"
               category="default"
               afterTab="workflow.editor.tab.cluster.Script"
               id="workflow.editor.tab.cluster.Download">
         </propertyTab>
         
     </propertyTabs>
   </extension>
   
   	
	<!--  Configuration validation -->
    <extension
         point="de.rcenvironment.core.gui.workflow.nodeValidators">
       <validator
            class="de.rcenvironment.components.cluster.gui.properties.ClusterWorkflowNodeValidator"
            filter="de.rcenvironment.components.cluster.gui.properties.ClusterComponentFilter">
       </validator>
    </extension>
    
    <!-- Dynamic Help -->
    <extension point="org.eclipse.help.contexts">
      <contexts file="resources/help/contexts.xml" plugin="de.rcenvironment" />
    </extension>
   
   <!-- Workflow data browser -->
   <extension point="de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder">
      <builder class="de.rcenvironment.components.cluster.gui.ClusterHistoryDataItemSubtreeBuilder"/>
   </extension>
   
</plugin>
