<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="de.rcenvironment.core.start.application"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/rce.integrationTestServer"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../workspace-rce/server"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl en -consoleLog -console -clean -noSplash --launcher.XXMaxPermSize 256m --headless -p integrationTestServer"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Drce.network.overrideNodeId=12561256125612561256125612561256&#13;&#10;-Drce.profiles.parentDir=&quot;${workspace_loc:de.rcenvironment/eclipse/launch/profiles}&quot;&#13;&#10;-Drce.installationData.rootDir=&quot;${workspace_loc:de.rcenvironment/eclipse/launch/installation_data}&quot;&#13;&#10;-Dbundles.configuration.location=&quot;${workspace_loc:de.rcenvironment/eclipse/launch/installation_data}&quot;&#13;&#10;-Declipse.vm=&quot;${system_property:eclipse.vm}&quot;&#13;&#10;-Xms512m&#10;&#13;&#10;-Xmx1024m&#10;&#13;&#10;-XX:MaxPermSize=256m&#13;&#10;&#10;-XX:+HeapDumpOnOutOfMemoryError&#13;&#10;&#10;-XX:ErrorFile=rce_error%p.log"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}/../workspace-rce/integrationTestServer"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="de.rcenvironment.core.gui.start.product"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${workspace_loc:de.rcenvironment/eclipse/launch/installation_data/dev_config.ini}"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
