<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->  
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
          <propertySection
               class="de.rcenvironment.core.gui.workflow.integration.PropertiesSection"
               enablesFor="1"
               filter="de.rcenvironment.core.gui.workflow.integration.DefaultToolIntegratorComponentFilter"
               id="workflow.editor.tab.Properties.Section.toolproperties"
               tab="workflow.editor.tab.integrated.properties">
         </propertySection>
          <propertySection
               class="de.rcenvironment.core.gui.workflow.integration.TempDirectorySection"
               enablesFor="1"
               filter="de.rcenvironment.core.gui.workflow.integration.DefaultToolIntegratorComponentFilter"
               id="workflow.editor.tab.Properties.Section.tooltempdir"
               tab="workflow.editor.tab.integrated.tempdir">
         </propertySection>
         <propertySection
               class="de.rcenvironment.core.gui.workflow.integration.IntegrationEndpointPropertySection"
               enablesFor="1"
               filter="de.rcenvironment.core.gui.workflow.integration.DefaultToolIntegratorComponentFilter"
               id="workflow.editor.tab.Properties.Section.InputsOutputs"
               tab="workflow.editor.tab.integrated.InputsOutputs">
         </propertySection>
         <propertySection
		       class="de.rcenvironment.core.gui.workflow.editor.properties.ComponentHistoryDataSection"
		       enablesFor="1"
		       filter="de.rcenvironment.core.gui.workflow.integration.DefaultToolIntegratorComponentFilter"
		       id="workflow.editor.tab.HistoryData.Section"
		       tab="workflow.editor.tab.HistoryData">
         </propertySection>
         <propertySection
		       class="de.rcenvironment.core.gui.workflow.integration.ToolMockModeSection"
		       enablesFor="1"
		       filter="de.rcenvironment.core.gui.workflow.integration.DefaultToolIntegratorComponentFilter"
		       id="workflow.editor.tab.Properties.Section.deactivation"
		       tab="workflow.editor.tab.integrated.deactivation">
         </propertySection>
         <propertySection
               class="de.rcenvironment.core.gui.workflow.integration.ToolInformationSection"
               enablesFor="1"
               filter="de.rcenvironment.core.gui.workflow.integration.DefaultToolIntegratorComponentFilter"
               id="workflow.editor.tab.Properties.Section.toolinformation"
               tab="workflow.editor.tab.integrated.toolinformation">
         </propertySection>
  	</propertySections>        
  </extension>
  
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
        <propertyTab
               category="default"
               id="workflow.editor.tab.integrated.properties"
               label="%properties">
         </propertyTab>
         <propertyTab
               category="default"
               id="workflow.editor.tab.integrated.tempdir"
                afterTab="workflow.editor.tab.integrated.properties"
               label="%tempDir">
         </propertyTab>
         <propertyTab
               category="default"
               id="workflow.editor.tab.integrated.InputsOutputs"
               label="%InputOutput"
               afterTab="workflow.editor.tab.integrated.tempdir">
         </propertyTab>
         <propertyTab
               category="default"
               id="workflow.editor.tab.HistoryData"
               label="Workflow Data"
               afterTab="workflow.editor.tab.integrated.InputsOutputs">
         </propertyTab>
         <propertyTab
               category="default"
               id="workflow.editor.tab.integrated.deactivation"
               label="Imitation Mode"
               afterTab="workflow.editor.tab.HistoryData">
         </propertyTab>
         <propertyTab
               category="default"
               id="workflow.editor.tab.integrated.toolinformation"
               label="%toolInfo"
               afterTab="workflow.editor.tab.HistoryData">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.rcenvironment.core.gui.wizards.toolintegration.ShowIntegrationWizardHandler"
            commandId="de.rcenvironment.rce.gui.workflow.integration.command">
      </handler>
      <handler
            class="de.rcenvironment.core.gui.wizards.toolintegration.ShowIntegrationEditWizardHandler"
            commandId="de.rcenvironment.rce.gui.workflow.integration.edit.command">
      </handler>
      <handler
            class="de.rcenvironment.core.gui.wizards.toolintegration.ShowIntegrationRemoveHandler"
            commandId="de.rcenvironment.rce.gui.workflow.integration.remove.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.integration"
            description="%toolIntegrationDescription"
            id="de.rcenvironment.rce.gui.workflow.integration.command"
            name="%toolIntegrationName">
      </command>
      <category
            description="%toolIntegrationDescription"
            id="de.rcenvironment.rce.gui.workflow.integration"
            name="%toolIntegrationName ">
      </category>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.integration.edit"
            description="%toolIntegrationEditDescription"
            id="de.rcenvironment.rce.gui.workflow.integration.edit.command"
            name="%toolIntegrationEditName">
      </command>
      <category
            description="%toolIntegrationEditDescription"
            id="de.rcenvironment.rce.gui.workflow.integration.edit"
            name="%toolIntegrationEditName ">
      </category>
      <category
            description="%toolIntegrationRemoveDescription"
            id="de.rcenvironment.rce.gui.workflow.integration.remove"
            name="%toolIntegrationRemoveName ">
      </category>
      <command
            categoryId="de.rcenvironment.rce.gui.workflow.integration.remove"
            description="%toolIntegrationRemoveDescription"
            id="de.rcenvironment.rce.gui.workflow.integration.remove.command"
            name="%toolIntegrationRemoveName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=de.rcenvironment.toolintegration.toolbar">
         <toolbar
               id="de.rcenvironment.rce.gui.workflow.integration.toolbar">
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.integration.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/integration_new.png"
                  label="%integrateLabel"
                  tooltip="%integrateTooltip">
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.integration.edit.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/integration_edit.png"
                  label="%integrateEditLabel"
                  tooltip="%integrateEditTooltip">
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.integration.remove.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/integration_remove.png"
                  label="%integrateRemoveLabel"
                  tooltip="%integrateRemoveTooltip">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
            <menu id="de.rcenvironment.integration.menu"
            	label="Tool Integration" />
      </menuContribution>
      <menuContribution
            locationURI="menu:de.rcenvironment.integration.menu">
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.integration.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/integration_new.png"
                  label="%integrateMenuLabel"
                  style="push"
                  tooltip="%integrateTooltip">
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.integration.edit.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/integration_edit.png"
                  label="%integrateEditMenuLabel"
                  style="push"
                  tooltip="%integrateEditTooltip">
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.workflow.integration.remove.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/integration_remove.png"
                  label="%integrateRemoveMenuLabel"
                  style="push"
                  tooltip="%integrateRemoveTooltip">
            </command>
      </menuContribution>       
   </extension>
 <extension point="de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder">
      <builder class="de.rcenvironment.core.gui.workflow.integration.IntegrationHistoryDataItemSubtreeBuilder"/>
   </extension>
    <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="resources/help/contexts.xml" plugin="de.rcenvironment.integration" />
   </extension>
    <extension
         point="de.rcenvironment.core.gui.workflow.editorActions">
         
      <action
            class="de.rcenvironment.core.gui.workflow.integration.EditToolIntegrationAction"
            component="de.rcenvironment.integration.*"
            default="true"
            id="de.rcenvironment.integration.editIntegration"
            label="Edit Tool Integration">
      </action>
      
   </extension>

   <extension
         point="de.rcenvironment.core.gui.workflow.editorActions">
         
      <action
            class="de.rcenvironment.core.gui.workflow.integration.GetDocumentationWorkflowEditorAction"
            component="de.rcenvironment.integration.*"
            default="true"
            id="de.rcenvironment.integration.getDocumentation"
            label="Open Documentation">
      </action>
      <action
            class="de.rcenvironment.core.gui.workflow.integration.GetDocumentationWorkflowEditorAction"
            component="de.rcenvironment.remoteaccess.*"
            default="true"
            id="de.rcenvironment.integration.getDocumentation"
            label="Open Documentation">
      </action>
      <action
            class="de.rcenvironment.core.gui.workflow.integration.ExportDocumentationWorkflowEditorAction"
            component="de.rcenvironment.integration.*"
            default="true"
            id="de.rcenvironment.integration.downloadDocumentation"
            label="Export Documentation">
      </action>
      <action
            class="de.rcenvironment.core.gui.workflow.integration.ExportDocumentationWorkflowEditorAction"
            component="de.rcenvironment.remoteaccess.*"
            default="true"
            id="de.rcenvironment.integration.downloadDocumentation"
            label="Export Documentation">
      </action>
      
   </extension>
      
    <extension
         point="de.rcenvironment.core.gui.workflow.editorActions">
         
      <action
            class="de.rcenvironment.core.gui.workflow.integration.SetImitationModeWorkflowEditorAction"
            component="de.rcenvironment.integration.*"
            default="true"
            id="de.rcenvironment.integration.getDocumentation2"
            label="Enable/Disable tool run imitation mode">
      </action>
      
   </extension>
</plugin>
