# Copy this file to "src/test/resources/JschFileTransferTest.properties" and fill in the test properties there.
# Remember that property strings must be escaped, e.g. "\" in a path must be "\\".

ip=
port=
username=
passphrase=
