<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="default_release_or_snapshot.all" sequenceNumber="82">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://software.dlr.de/updates/rce/10.x/repositories/platform/releases/10.4.0/"/>
		<unit id="de.rcenvironment.modules.thirdparty.dakota.binaries.common.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.eclipse.platform.common.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.eclipse.platform.gui.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.imageviewer.gui.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.libraries.bdd.common.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.libraries.generic.common.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.libraries.generic.gui.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.paxlogging.common.feature.feature.group" version="0.0.0"/>
		<unit id="de.rcenvironment.modules.thirdparty.pdfviewer.gui.feature.feature.group" version="0.0.0"/>
	</location>
</locations>
</target>