<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->  
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
               class="de.rcenvironment.core.gui.workflow.integration.ToolInformationSection"
               enablesFor="1"
               filter="de.rcenvironment.core.gui.workflow.integration.workflow.WorkflowIntegratorComponentFilter"
               id="workflow.editor.tab.Properties.Section.toolinformation"
               tab="workflow.editor.tab.integrated.toolinformation">
         </propertySection>
  	</propertySections>        
  </extension>

   <extension point="de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder">
      <builder class="de.rcenvironment.core.gui.workflow.integration.workflow.WorkflowIntegrationHistoryDataItemSubtreeBuilder"/>
   </extension> 
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=de.rcenvironment.rce.gui.workflow.integration.tool.toolbar">
         <toolbar
               id="de.rcenvironment.rce.gui.workflow.integration.workflow.toolbar">
            <command
                  commandId="de.rcenvironment.rce.gui.integration.workflowintegration.integrate.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/wf_integration_new.png"
                  label="Integrate Workflow File..."
                  tooltip="Integrate the Workflow File that is currently selected in the Project Explorer...">
            </command>
            <command
                  commandId="de.rcenvironment.rce.gui.integration.workflowintegration.edit.command"
                  icon="platform:/plugin/de.rcenvironment.core.gui.resources/resources/images/wf_integration_edit.png"
                  label="Edit Workflow Integration"
                  tooltip="Select an integrated workflow to edit the configuration or to re-integrate an inactive configuration...">
            </command>
         </toolbar>
      </menuContribution>
   </extension> 
   
</plugin>
