<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
         	   tab="workflow.editor.tab.scpoutputcollector.Inputs"
               class="de.rcenvironment.components.scpoutputcollector.gui.ScpOutputCollectorPropertiesSection"
               id="workflow.editor.tab.Properties.Section.Inputs"
               filter="de.rcenvironment.components.scpoutputcollector.gui.ScpOutputCollectorComponentFilter"
               enablesFor="1">
         </propertySection>
  	</propertySections>
  </extension>
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               label="%inputTabTitle"
               category="default"
               id="workflow.editor.tab.scpoutputcollector.Inputs">
         </propertyTab>
      </propertyTabs>
  </extension>
   <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="help/contexts.xml" plugin="de.rcenvironment" />
   </extension>
   
   <extension point="org.eclipse.help.toc">
   		<toc file="help/toc.xml"/>
   </extension>
</plugin>
