<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension 
		point="org.eclipse.ui.views">
  		<view
        category="de.rcenvironment.core"
        class="de.rcenvironment.core.gui.cluster.view.internal.ClusterJobMonitorView"
        id="de.rcenvironment.core.gui.cluster.view.ClusterJobMonitorView"
        icon="resources/icons/monitor16.gif"
        name="Cluster Job Monitor">
  </view>
	</extension>

</plugin>
