<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="rce_main_repo" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.rcenvironment.core.feature.feature.group" version="2.4.0.201301181422"/>
<unit id="de.rcenvironment.core.gui.feature.feature.group" version="2.4.0.201301181422"/>
<unit id="de.rcenvironment.core.gui.branding.default.feature.feature.group" version="2.4.0.201301181422"/>
<unit id="de.rcenvironment.componentgroups.examples.feature.feature.group" version="2.4.0.201301181422"/>
<unit id="de.rcenvironment.platform.feature.feature.group" version="2.4.0.201301081122"/>
<unit id="de.rcenvironment.componentgroups.standard.feature.feature.group" version="2.4.0.201301181422"/>
<repository location="http://updates.sc.dlr.de/eclipse/rce/core/snapshots/trunk"/>
</location>
</locations>
</target>
