<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="nu.psnet.quickimage.editors.QuickImageEditor"
            icon="icons/icon.gif"
            default="true"
            name="QuickImage Editor"
            id="nu.psnet.quickimage.editors.QuickImageEditor"
            extensions="gif,jpg,jpeg,png,ico,bmp">
      </editor>
   </extension>

</plugin>
