<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
           <propertySection
               tab="workflow.editor.tab.decrypter.Algorithm"
               class="de.rcenvironment.components.examples.decrypter.gui.DecrypterAlgorithmSection"
               id="workflow.editor.tab.Properties.Section.Algorithm"
               filter="de.rcenvironment.components.examples.decrypter.gui.DecrypterComponentFilter"
               enablesFor="1">
         </propertySection>
         <propertySection
               class="de.rcenvironment.components.examples.decrypter.gui.DecrypterInputsOutputsSection"
               enablesFor="1"
               filter="de.rcenvironment.components.examples.decrypter.gui.DecrypterComponentFilter"
               id="workflow.editor.tab.Properties.Section.InputsOutputs"
               tab="workflow.editor.tab.decrypter.InOutputs">
         </propertySection>
  	</propertySections>
  </extension>
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               label="%algorithm"
               category="default"
               id="workflow.editor.tab.decrypter.Algorithm">
         </propertyTab>
         <propertyTab
               label="%inOutput"
               category="default"
               afterTab="workflow.editor.tab.decrypter.Algorithm"
               id="workflow.editor.tab.decrypter.InOutputs">
         </propertyTab>
      </propertyTabs>
        

   </extension>
    <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="resources/help/contexts.xml" plugin="de.rcenvironment.components.examples.decrypter.execution" />
   </extension>
</plugin>
