<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
           <propertySection
               tab="workflow.editor.tab.encrypter.Algorithm"
               class="de.rcenvironment.components.examples.encrypter.gui.EncrypterAlgorithmSection"
               id="workflow.editor.tab.Properties.Section.Algorithm"
               filter="de.rcenvironment.components.examples.encrypter.gui.EncrypterComponentFilter"
               enablesFor="1">
         </propertySection>
         <propertySection
               class="de.rcenvironment.components.examples.encrypter.gui.EncrypterEndpointPropertySection"
               enablesFor="1"
               filter="de.rcenvironment.components.examples.encrypter.gui.EncrypterComponentFilter"
               id="workflow.editor.tab.Properties.Section.InputsOutputs"
               tab="workflow.editor.tab.encrypter.InOutputs">
         </propertySection>
  	</propertySections>
  </extension>
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               label="%algorithm"
               category="default"
               id="workflow.editor.tab.encrypter.Algorithm">
         </propertyTab>
         <propertyTab
               label="%inOutput"
               category="default"
               afterTab="workflow.editor.tab.encrypter.Algorithm"
               id="workflow.editor.tab.encrypter.InOutputs">
         </propertyTab>
      </propertyTabs>
        

   </extension>
	<!--  Configuration validation -->
	<!--  This code activates the automatic GUI validation -->
    <extension
         point="de.rcenvironment.core.gui.workflow.nodeValidators">
       <validator
            class="de.rcenvironment.components.examples.encrypter.gui.EncrypterWorkflowNodeValidator"
            filter="de.rcenvironment.components.examples.encrypter.gui.EncrypterComponentFilter">
       </validator>
    </extension>
    <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="resources/help/contexts.xml" plugin="de.rcenvironment.components.examples.encrypter.execution" />
   </extension>
</plugin>
