<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Hide from Windows->Show View -->
	<extension point="org.eclipse.ui.activities">  
	  <activity id="de.rcenvironment.components.parametricstudy.gui.activity.suppress.runtime" name="Suppress runtime view">
	  </activity>
	  <activityPatternBinding
	     activityId="de.rcenvironment.components.parametricstudy.gui.activity.suppress.runtime"
	     isEqualityPattern="true"
	     pattern="de.rcenvironment.components.parametricstudy.gui/de.rcenvironment.components.parametricstudy.gui.view.ParametricStudyView">
	  </activityPatternBinding>
	 </extension>

   <!-- Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
               tab="workflow.editor.tab.parametricstudy.InputsOutputs"
               class="de.rcenvironment.components.parametricstudy.gui.properties.ParametricStudyPropertiesSection"
               id="workflow.editor.tab.Properties.Section.InputsOutputs"
               filter="de.rcenvironment.components.parametricstudy.gui.properties.ParametricStudyComponentFilter"
               enablesFor="1">
         </propertySection>
        <propertySection
               tab="workflow.editor.tab.parametricstudy.FaultTolerantLoop"
               class="de.rcenvironment.core.gui.workflow.editor.properties.FaultTolerantLoopSection"
               id="workflow.editor.tab.Properties.Section.FaultTolerantLoop"
               filter="de.rcenvironment.components.parametricstudy.gui.properties.ParametricStudyComponentFilter"
               enablesFor="1">
         </propertySection>
         <propertySection
               tab="workflow.editor.tab.parametricstudy.NestedLoop"
               class="de.rcenvironment.core.gui.workflow.editor.properties.NestedLoopSection"
               id="workflow.editor.tab.Properties.Section.NestedLoop"
               filter="de.rcenvironment.components.parametricstudy.gui.properties.ParametricStudyComponentFilter"
               enablesFor="1">
         </propertySection>
      </propertySections>
   </extension>
   
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               label="Inputs/Outputs"
               category="default"               
               id="workflow.editor.tab.parametricstudy.InputsOutputs">
         </propertyTab>
         <propertyTab
               label="Fault Tolerance"
               category="default"
               afterTab="workflow.editor.tab.parametricstudy.InputsOutputs"
               id="workflow.editor.tab.parametricstudy.FaultTolerantLoop">
         </propertyTab>
        <propertyTab
               label="Nested Loop"
               category="default"
               afterTab="workflow.editor.tab.parametricstudy.FaultTolerantLoop"
               id="workflow.editor.tab.parametricstudy.NestedLoop">
         </propertyTab>
      </propertyTabs>
   </extension>

    <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="help/contexts.xml" plugin="de.rcenvironment" />
   </extension>
   
   <extension point="org.eclipse.help.toc">
   		<toc file="help/toc.xml"/>
 	</extension>
 	
   <!-- Runtime View -->
   	<extension
         point="org.eclipse.ui.views">
      <view allowMultiple="true"
            icon="platform:/plugin/de.rcenvironment.components.parametricstudy.common/resources/parametricStudy16.png"
            class="de.rcenvironment.components.parametricstudy.gui.view.ParametricStudyView"
            id="de.rcenvironment.components.parametricstudy.gui.view.ParametricStudyView"
            name="Parametric Study"
            restorable="false">
      </view>
   </extension>
   
   <!-- View Location -->
    <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="de.rcenvironment.core">
			<view id="de.rcenvironment.components.parametricstudy.gui.view.ParametricStudyView" relationship="stack"
				relative="de.rcenvironment.core.Perspective.bottom" visible="false">
			</view>
		</perspectiveExtension>
	</extension>
   <!-- Register Runtime View -->
   <extension
         point="de.rcenvironment.core.gui.workflow.monitoring">
      <monitor component="de.rcenvironment.parametricstudy"
            view="de.rcenvironment.components.parametricstudy.gui.view.ParametricStudyView"
            default="true">
      </monitor>
   </extension>
   
   <extension point="de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder">
      <builder class="de.rcenvironment.components.parametricstudy.gui.ParametricStudyHistoryDataItemSubtreeBuilder"/>
   </extension>
  
  <extension
         point="de.rcenvironment.core.gui.workflow.nodeValidators">
       <validator
            class="de.rcenvironment.core.gui.workflow.editor.properties.LoopComponentWorkflowNodeValidator"
            filter="de.rcenvironment.components.parametricstudy.gui.properties.ParametricStudyComponentFilter">
       </validator>
    </extension>
</plugin>
