<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc file="help/components_toc.xml" primary="true"/>
      <toc file="help/workflow_editor_toc.xml" primary="true"/>
      <toc file="help/tool_integration_toc.xml" primary="true"/>
      <toc file="help/workflow_integration_toc.xml" primary="true"/>
      <toc file="help/extensions_toc.xml" primary="true"/>
   </extension>
   
</plugin>
