<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
	  		id = "de.rcenvironment.rce.wizard.category"
	   		name="RCE">
	  </category>
      <wizard
            category="de.rcenvironment.rce.wizard.category"
            class="de.rcenvironment.core.gui.wizards.exampleproject.internal.RCEExampleProjectWizard"
            icon="/icons/workflowProj16.gif"
            id="de.rcenvironment.core.gui.wizards.exampleproject.internal.RCEExampleProjectWizard"
            name="Workflow Examples Project...">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="de.rcenvironment.core">
         <newWizardShortcut
            id="de.rcenvironment.core.gui.wizards.exampleproject.internal.RCEExampleProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
   		point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard 
			menuGroupId="de.rcenvironment.core.gui.wizards.exampleproject"
			type="new" 
			wizardId="de.rcenvironment.core.gui.wizards.exampleproject.internal.RCEExampleProjectWizard">
			<enablement />
 		</commonWizard>   
   </extension> 

</plugin>
