<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.views">           
      <view
            name="Command Console"
            icon="resources/images/command.gif"
            category="de.rcenvironment.core"
            class="de.rcenvironment.core.gui.command.CommandConsoleViewer"
            id="de.rcenvironment.core.gui.command.CommandConsoleViewer">
      </view>   
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="de.rcenvironment.core">
			<view id="de.rcenvironment.core.gui.command.CommandConsoleViewer" relationship="stack"
				relative="de.rcenvironment.core.Perspective.bottom">
			</view>
		</perspectiveExtension>
	</extension>
</plugin>
