<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point 
      id="de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder" 
      name="History Object Subtree Builder"
      schema="schema/de.rcenvironment.core.gui.datamanagement.browser.historysubtreebuilder.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Workflow Data Browser"
            icon="resources/icons/dm.gif"
            category="de.rcenvironment.core"
            class="de.rcenvironment.core.gui.datamanagement.browser.DataManagementBrowser"
            id="de.rcenvironment.rce.gui.datamanagement.browser.DataManagementBrowser">
      </view>
   </extension>
   
   	<!-- Part of Default Perspective -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="de.rcenvironment.core">
         <view id="de.rcenvironment.rce.gui.datamanagement.browser.DataManagementBrowser"
         	relationship="stack"
            relative="de.rcenvironment.core.Perspective.bottom">
         </view>
      </perspectiveExtension>
   </extension>
   

</plugin>
