<contexts>
	<context id="integration_chooseconfig" title="Choose Configuration page">
		<description>Start a new integration or choose the configuration you want to activate.</description>
		<topic href="help/generated/html/chooseConfigurationPage.xhtml" label="Choose Configuration Usage"/>
	</context>
	<context id="integration_editconfig" title="Choose Configuration page">
		<description>Choose or load the configuration you want to edit.</description>
		<topic href="help/generated/html/chooseConfigurationEditPage.xhtml" label="Choose Configuration Usage"/>
	</context>
	<context id="integration_characteristics" title="Tool Characteristics page">
		<description>Define some characteristics of the tool.</description>
		<topic href="help/generated/html/toolCharacteristicsPage.xhtml" label="Tool Characteristics Usage"/>
	</context>
	<context id="integration_inputOutput" title="Inputs and Outputs">
		<description>Define inputs and outputs for the component.</description>
		<topic href="help/generated/html/inputOutputPage.xhtml" label="Inputs and Outputs Usage"/>
	</context>
	<context id="integration_properties" title="Tool Properties page">
		<description>Define properties for the tool.</description>
		<topic href="help/generated/html/toolPropertiesPage.xhtml" label="Tool Properties Usage"/>
	</context>
		<context id="integration_launchsettings" title="Launch Settings page">
		<description>Define launch settings for the tool.</description>
		<topic href="help/generated/html/launchSettingsPage.xhtml" label="Launch Configs Usage"/>
	</context>	
	<context id="integration_execution" title="Execution page">
		<description>Define execution script for the tool.</description>
		<topic href="help/generated/html/executionPage.xhtml" label="Execution Usage"/>
	</context>
</contexts>