<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- Property Sections -->  
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertySection
                 class="de.rcenvironment.components.scpinputloader.gui.ScpInputLoaderOutputSection"
                 enablesFor="1"
                 filter="de.rcenvironment.components.scpinputloader.gui.ScpInputLoaderComponentFilter"
                 id="workflow.editor.tab.scpinputloader.Section.DynOutputs"
                 tab="workflow.editor.tab.scpinputloader.DynOutputs">
           </propertySection>
  	</propertySections>        
  </extension>
  
   <!-- Register Property Sections -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.rcenvironment.rce.gui.workflow.editor.WorkflowEditor">
         <propertyTab
               category="default"
               id="workflow.editor.tab.scpinputloader.DynOutputs"
               label="%outputs">
         </propertyTab>
      </propertyTabs>
   </extension>
   
    <!-- Dynamic Help -->
   <extension point="org.eclipse.help.contexts">
      <contexts file="help/contexts.xml" plugin="de.rcenvironment" />
   </extension>
   
   <extension point="org.eclipse.help.toc">
   		<toc file="help/toc.xml"/>
 	</extension>
   
</plugin>
