// --- DO NOT COPY THIS COMMENT BLOCK ---
//
// This is an example config for a server in the internal network.
// Because the "isWorkflowHost" option is set, this instance can be used as workflow controller by other instances.
//

{
	"general" : {
		"instanceName" : "Example standalone server started by \"${systemUser}\" on ${hostName}",
		"isWorkflowHost": true
	},
	"network" : {
		"serverPorts" : {
			"serverPort1" : {
				"ip" : "127.0.0.1",
				"port" : 21000
			}
		},
		"ipFilter" : {
			"enabled" : false,
			"allowedIPs" : [
				"127.0.0.1",
				"127.0.0.2"
			]
		}
	}
}