{
	"_meta_comment" : "This is an example configuration for a remote access server.",
	"general" : {
		"instanceName" : "Example Remote Access server started by \"${systemUser}\" on ${hostName}"
	},
	"sshServer" : {
		"enabled" : true,
		"ip" : "127.0.0.1",
		"port" : 31005,
		"accounts" : {
			"ra_demo" : {
				"passwordHash" : "$2a$10$qxCBuEvq0xWoOlox2dVbCu8zCYsyxQMBe5SAnS2HId0uaEp59aAu2",
				"_passwordHash_comment" : "Hashed form of the 'ra_demo' test password; DO NOT reuse this for live accounts!",
				"role" : "remote_access_user",
				"enabled" : true
			}
		}
	}
}