{
	"_meta_comment" : "This is an example configuration for a remote access client.",
	"general" : {
		"instanceName" : "Example client started by \"${systemUser}\" on ${hostName}"
	},
	"sshRemoteAccess" : {
		"sshConnections" : {
			"exampleSSHConnection" : {
				"displayName" : "example",
				"host" : "127.0.0.1",
				"port" : 31005,
				"connectOnStartup": false,
				"autoRetry" : false,
				"loginName" : "ra_demo",
				"_loginName_comment" : "The passphrase is not stored here, it has to be entered when connecting."
			}
		}
	}
}