// --- DO NOT COPY THIS COMMENT BLOCK ---
//
// This is an example config for an uplink gateway.
// Because the "isGateway" option is set, this instances makes tools published over the (external) uplink network 
// available in its local network and vice versa.
//
// In each local network, only one instance should be configured as a gateway (otherwise tools might be displayed multiple times).
// The other local instances can connect to this gateway, for example using the internal_network_client config.
// 
// If several clients are to use the same account on the uplink relay, they have to set different client IDs in their configurations. 
//
{
	"general" : {
		"instanceName" : "Example client started by \"${systemUser}\" on ${hostName}",
		"isRelay": true
	},
	"uplink" : {
		"uplinkConnections" : {
			"exampleUplinkConnectionID" : {
				"displayName" : "example",
				"clientID": "gateway1",		// ClientID's are currently limited to eight characters. Longer ID's will be cut off!
				"host" : "127.0.0.1",
				"port" : 31055,
				"connectOnStartup": false,
				"autoRetry" : false,
				"isGateway" : true,
				"loginName" : "ra_demo"		// The loginName is currently limited to eight characters. Longer names will be cut off!
				//The passphrase is not stored here, it has to be entered when connecting.
			}
		}
	},
	"network" : {
		"serverPorts" : {
			"internalPort" : {
				"ip" : "127.0.0.1",
				"port" : 21000
			}
		}
	}
}